.barProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--am-gantt-bar-progress-bg, var(--am-gantt-task-bg-progress));
  border-radius: 4px 0 0 4px;
}

.barProgressResizeHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background-color: black;
  z-index: 10;
}

.barProgressResizeHandle:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: black;
  /* triangle rotate */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
