.baseline {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--am-gantt-baseline-color, #7789a2);
  border-radius: 2px;
  cursor: default;
}

.milestone {
  transform: rotate(45deg);
}
